{% block link %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock link %}

{% block style %}
<link href="/styles/main.css" rel="stylesheet">
<link href="/styles/error-create.css" rel="stylesheet">
{% endblock style %}


<div id="page-error">
    <div class="content">

        <div class="border">
            <h2>Error message</h2>
        </div>

        <div class="message">
            <span class="material-icons">error</span>
            <h1>Erro no cadastro</h1>
        </div>

        <div class="button">
            <a href="/">Cancelar</a>
        </div>
        
    </div>
</div>